$color-grayish-dark-blue: #33323d;
$color-dark-blue: #203A4C;
$color-slightly-desatured-cyan: #5FB4A2;
$color-red: #f43030;

$color-very-light-gray: #fafafa;
$color-white: #ffffff;
$color-black: #000000;
